/* =========================================
Basic setup
========================================= */
@media (max-width: 480px) {
  h2 {
    font-size: 20px;
  }
}
/* =========================================
Basic setup
========================================= */
/* =========================================
Navigation
========================================= */
@media (max-width: 991px) {
  .navbar {
    background: linear-gradient(rgba(49, 29, 94, 1), rgba(9, 5, 47, 1));
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 20px;
    margin-left: 0px;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}

@media (max-width: 575px) {
  .navbar .navbar-brand img {
    height: 40px;
  }

  .sticky.navbar .navbar-brand img {
    height: 35px;
  }
}
/* =========================================
Navigation
========================================= */

/* =========================================
Home section
========================================= */
@media (max-width: 533px) {
  h1::after {
    top: 95px;
  }
}

@media (max-width: 480px) {
  .home-content {
    padding: 220px 0 165px;
  }
}
/* =========================================
Home section
========================================= */

/* =========================================
Reusable components
========================================= */
@media (max-width: 480px) {
  .section-padding {
    padding: 50px 0;
  }

  .section-dsc {
    font-size: 13px;
  }
}
/* =========================================
Reusable components
========================================= */

/* =========================================
Story section
========================================= */
@media (max-width: 767px) {
  #story {
    text-align: center;
  }

  #story.section-padding {
    padding: 40px 0 70px;
  }

  .story-img {
    margin-bottom: 50px;
  }
}

@media (max-width: 480px) {
  #story.section-padding {
    padding: 20px 0 50px;
  }
}
/* =========================================
Story section
========================================= */

/* =========================================
Expertise section
========================================= */
@media (max-width: 575px) {
  .expertise-titlebox {
    margin-bottom: 70px;
  }

  .expertise-contentbox {
    max-width: 300px;
    margin: 0 auto 50px;
  }

  .love {
    margin-bottom: 0px;
  }
}

@media (max-width: 480px) {
  .expertise-titlebox {
    margin-bottom: 50px;
  }

  .expertise-contentbox {
    margin-bottom: 30px;
  }

  .love {
    margin-bottom: 0px;
  }
}
/* =========================================
Expertise section
========================================= */

/* =========================================
Team section
========================================= */
@media (max-width: 991px) {
  .team-content {
    padding: 10px 0;
  }
}

@media (max-width: 480px) {
  .team-titlebox {
    margin-bottom: 50px;
  }

  .team-contentbox {
    margin-bottom: 50px;
  }
}
/* =========================================
Team section
========================================= */

/* =========================================
Works section
========================================= */
@media (max-width: 991px) {
  .works-filter div {
    width: 25%;
  }

  .works-filter {
    margin-bottom: 50px;
  }
}

@media (max-width: 568px) {
  .filter-btns button:nth-of-type(1), 
  .filter-btns button:nth-of-type(2), 
  .filter-btns button:nth-of-type(3) {
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .works-filter div {
    width: 33.33%;
  }

  .works-filter {
    margin-bottom: 30px;
  }
}
/* =========================================
Works section
========================================= */

/* =========================================
Testimonial section
========================================= */
@media (max-width: 480px) {
  #testimonial {
    padding: 35px 0 85px;
  }
}
/* =========================================
Testimonial section
========================================= */

/* =========================================
Contact section
========================================= */
@media (max-width: 991px) {
  #contact {
    text-align: center;
  }

  .contact-form {
    max-width: 400px;
    margin: 0 auto 70px;
  }
}

@media (max-width: 575px) {
  .contact-form {
    margin-bottom: 50px;
  }

  .client-logo {
    margin-bottom: 30px;
  }

  .levis {
    margin-bottom: 0;
  }
}
/* =========================================
Contact section
========================================= */

/* =========================================
Footer section
========================================= */
@media (max-width: 991px) {
  footer.section-padding {
    padding: 70px 0 30px;
  }
  .copyright p {
    text-align: left;
    margin-top: 0px;
  }

  footer .row:first-of-type .col-sm-6:nth-of-type(1),
  footer .row:first-of-type .col-sm-6:nth-of-type(2) {
    margin-bottom: 50px;
  }
}

@media (max-width: 575px) {
  footer.section-padding {
    padding: 50px 0 15px;
  }

  footer .row:first-of-type .col-sm-6:nth-of-type(1),
  footer .row:first-of-type .col-sm-6:nth-of-type(2) {
    margin-bottom: 30px;
  }

  .newsletter-title,
  .studio-title {
    margin-bottom: 15px;
  }

  .newsletter {
    max-width: 210px;
    margin-bottom: 20px;
  }

  footer .row:first-of-type {
    margin-bottom: 30px;
  }
}
/* =========================================
Footer section
========================================= */
/* =========================================
Scroll Up
========================================= */
@media (max-width: 767px) {
  .scroll-up {
    visibility: hidden;
  }
}
/* =========================================
Scroll Up
========================================= */
